<button mat-button color="primary" (click)="save()">Criar Tarefa</button>
<button mat-button color="primary" (click)="deleteAll()">Deletar Tarefa</button>
<mat-accordion>
    <mat-expansion-panel *ngFor="let task of taskList" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="{'done':task.taskState==='DONE'}">
                {{task.text}}
            </mat-panel-title>
            <mat-panel-description class="row">
                <button class="finish-button" mat-button color (click)="update(task)">Finalizar tarefa</button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-button color="primary">Editar</button>
        <button mat-button color="warn">Excluir</button>
    </mat-expansion-panel>
</mat-accordion>